body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 150px;
  color:rgb(12, 12, 12);
  background-color: #333  ;
}

.meza{
  background-color: #999;
  border-radius: 10px;
}

.majaribu{
  border-radius: 10px;
  background-color: #666;
  /* color: aqua; */
}

h2{
  padding: 50px;
  color: aliceblue;
}

.searchh{
  width: 50%;
}

.btnn{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.btnn:hover{
  background: #666;
  color: aliceblue;
}
